<div class="container">
    <div class="card" id="cardOne">
        <div class="card-body" id="cardBody">
            <form method="POST" action="/addBook/save">
                <div class="mb-3">
                    <label for="title" class="form-label" id="titleLabel">Title:</label>
                    <input name="bookTitle" id="title" type="text" placeholder="Title" required>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label" id="authorLabel">Author:</label>
                    <input id="author" type="text" placeholder="Author" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label" id="imageLabel">Image:</label>
                    <input name="bookImage" id="image" type="text" placeholder="http://website.com" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="bookDescription" class="form-control" id="description" rows="3" placeholder="Description..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post Entry</button>
            </form>
        </div>
    </div>
</div>