<div class="container">
    <div class="card" id="cardOne">
        <div class="card-body">
            <form onsubmit="submit()">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input id="title" type="text" placeholder="Title" required>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author:</label>
                    <input id="author" type="text" placeholder="Author" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <input id="image" type="text" placeholder="http://website.com" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" rows="3"
                        placeholder="Description..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post Entry</button>
            </form>
        </div>
    </div>
</div>