<header>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand" style="margin-left: 10px;">Express Books</span>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color: white;">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addBook" style="color: white;">Add a New Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: white;">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>