<% if (Books.Books.length> 0) {
    for (let i=0; i<Books.Books.length; i++) { %>
        <div class="col-2">
            <p id="bookTitle" class="card-header">
                <%= Books.Books[i].bookTitle %> <a id="btnDelete"
                        class="btn btn-danger" href="/index/<%= [i] %>">Delete</a>
            </p>
            <div class="card-text"><img src="<%= Books.Books[i].bookImage %>" alt="Book Image" id="imageBook"></div>
            <p class="card-footer" id="cardDescription">
                <%= Books.Books[i].bookDescription %>
            </p>
        </div>
        <% } } else { %>
            <div class="form-control" id="addBooksPrompt">
                <p id="linkOne">No Books Yet. <a href="/addBook">Add A New One</a></p>
            </div>
            <%}%>