body {
    background-color: darkgray;
}

#addBooksPrompt {
    text-align: center;
    width: 50%;
    margin-top: 1%;
    margin-left: 22%;
}

#linkOne {
    margin-top: 1%;
    margin-bottom: 1%;
}

#showBooks {
    margin-top: 2%;
    width: 25%;
    background-color: darkgray;
    border-style: none;
}

#bookTitle {
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.20);
}

#imageBook {
    margin-left: 2%;
    width: 98%;
    height: 300px;
    object-fit: fit;
}

#btnDelete {
    position: relative;
    left: 50%;   
}

#cardDescription {
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.20);
}