body {
    background-color: darkgray;
}

#addBooksPrompt {
    text-align: center;
    width: 50%;
    margin-top: 1%;
    margin-left: 22%;
}

#linkOne {
    margin-top: 1%;
    margin-bottom: 1%;
}

#showBooks {
    margin-top: 2%;
    width: 23%;
    background-color: darkgray;
    border-style: none;
}

#bookTitle {
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.20);
}

#imageBook {
    margin-left: 2%;
    width: 98%;
    height: 300px;
    object-fit: cover;
}

#btnDelete {
    position: relative;
    left: 43%;   
}

#cardDescription {
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.20);
}

#cardOne {
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
}

#title {
    margin-left: 5%;
}

#author {
    margin-left: 2%;
}

#image {
    margin-left: 3%;
}

#cardBody {
    background-color: rgba(211, 211, 211, 0.350);
}

#aboutP {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
}